@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: serif; }

main {
  padding-top: 130px; }

.presentacion .imagen-parrafo, footer {
  display: flex;
  justify-content: center;
  align-items: center; }

/* NAV */
.navbar-brand {
  font-family: serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
  transition: all 0.8s ease-in; }
  .navbar-brand:hover {
    color: #EBD3FF;
    font-weight: 1200; }

.container-fluid {
  font-family: serif;
  font-size: 26px;
  font-weight: 400px; }

.navbar-collapse {
  justify-content: center; }

.navbar-nav li a {
  color: white;
  margin: 30px;
  transition: all 0.8s; }
  .navbar-nav li a:hover {
    color: #EBD3FF;
    text-decoration: underline #EBD3FF;
    transform: scale(1.1); }

.navbar-toggler {
  background-color: white; }

.navbar-toggler-icon {
  background-color: white; }

header {
  position: fixed;
  width: 100%;
  z-index: 1; }

/* HOME */
/* HOME: presentación */
.presentacion {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #000000;
  padding-bottom: 30px; }
  .presentacion div h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 50px; }
  .presentacion .imagen-parrafo img {
    width: 500px;
    height: 500px;
    float: left;
    margin-bottom: 40px;
    margin-left: 350px;
    box-shadow: white 2px 2px 2px 2px;
    border-radius: 50px; }
  .presentacion .imagen-parrafo p {
    color: white;
    font-size: 35px;
    font-weight: 300;
    padding: 100px;
    margin-right: 300px;
    margin-top: 30px; }

/* HOME: Mis dibujos */
.mis-dibujos {
  padding: 80px;
  background-color: #000000;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mis-dibujos div h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-right: 10px; }
  .mis-dibujos div h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    margin-right: 10px; }
  .mis-dibujos div a img {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    box-shadow: white 2px 2px 2px 2px;
    border-radius: 50px;
    transition: all 0.5s; }
    .mis-dibujos div a img:hover {
      box-shadow: #EBD3FF 10px 10px 10px 10px;
      border-radius: 50px;
      transform: scale(1.1); }

/* HOME: Proyectos */
.proyectos {
  background-color: #000000;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px; }
  .proyectos div a img {
    width: 400;
    height: 400px;
    margin-right: 20px;
    box-shadow: white 2px 2px 2px 2px;
    border-radius: 50px;
    transition: 0.5s; }
    .proyectos div a img:hover {
      box-shadow: #EBD3FF -15px 5px 10px 10px;
      border-radius: 50px;
      transform: scale(1.1); }
  .proyectos div h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-left: 10px; }
  .proyectos div h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px; }

/* PROYECTOS */
.mis-proyectos div {
  background-color: #000000; }
  .mis-proyectos div h2 {
    font-size: 40px;
    font-weight: 600px;
    padding: 40px;
    background-color: #F6F0F0;
    text-align: center;
    color: #000000; }

.proyectos-mios {
  display: flex;
  justify-content: center; }
  .proyectos-mios a {
    margin: 60px;
    background-color: #F6F0F0;
    border-radius: 40px;
    transition: 0.5s; }
    .proyectos-mios a:hover {
      background-color: #EBD3FF;
      width: 500px;
      border: 5px solid;
      border-color: #F6F0F0;
      transform: scale(1.1); }

/* SOBRE MI */
.sobre-mi h2 {
  font-size: 40px;
  font-weight: 600px;
  padding: 40px;
  background-color: #F6F0F0;
  text-align: center;
  color: #000000; }

.mis-datos {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  background-color: #000000; }
  .mis-datos img {
    height: 600px;
    width: 600px;
    padding: 60px;
    box-shadow: white 5px 5px 5px 5px;
    border-radius: 50px; }
  .mis-datos .fondo-blanco {
    background: #F6F0F0;
    border-radius: 20px;
    padding: 40px;
    width: 40%;
    height: 70%;
    margin-top: 20px; }
    .mis-datos .fondo-blanco a {
      font-size: 30px;
      color: #000000;
      font-weight: 800;
      text-decoration: none; }
    .mis-datos .fondo-blanco p {
      font-size: 30px;
      font-weight: 500;
      color: #000000;
      padding-bottom: 20px; }
    .mis-datos .fondo-blanco h3 {
      font-size: 30px;
      color: #000000;
      text-decoration: underline;
      font-weight: 300;
      padding-bottom: 20px; }
    .mis-datos .fondo-blanco div h4 {
      color: #000000;
      font-size: 28px;
      font-weight: 100;
      line-height: 1.5; }

/* CONTACTAME */
.contactame-y-trabajemos {
  font-size: 40px;
  font-weight: 600px;
  padding: 40px;
  background-color: #F6F0F0;
  text-align: center;
  color: #000000; }

.contactame {
  padding: 30px;
  background-color: #000000;
  display: flex;
  justify-content: center; }
  .contactame .formulario {
    background-color: #F6F0F0;
    display: inline-block;
    padding: 50px;
    border-radius: 20px; }
    .contactame .formulario label {
      font-size: 26px;
      font-weight: 400px;
      text-align: left; }
    .contactame .formulario textarea {
      border-radius: 20px;
      width: 600px;
      height: 200px;
      border-color: #EBD3FF;
      background-color: #EBD3FF;
      font-size: 22px;
      font-weight: 200;
      padding: 10px; }
    .contactame .formulario div input {
      border-radius: 20px;
      width: 600px;
      height: 40px;
      border-color: #EBD3FF;
      background-color: #EBD3FF;
      font-size: 22px;
      font-weight: 200;
      padding: 10px; }
  .contactame .boton {
    display: flex;
    justify-content: center; }
    .contactame .boton input {
      border-radius: 20px;
      padding: 10px;
      background-color: #F6F0F0;
      border-color: #F6F0F0;
      font-size: 20px;
      color: #000000;
      width: 150px;
      margin: 10px;
      transition: all 1s; }
      .contactame .boton input:hover {
        background-color: #ac46ff;
        border-color: #ac46ff;
        color: #000000;
        font-weight: 700; }

/* MI ARTE */
.estas-son h2 {
  font-size: 40px;
  font-weight: 600px;
  padding: 40px;
  background-color: #F6F0F0;
  text-align: center;
  color: #000000; }

.mis-obras-grid {
  width: 100%;
  height: auto;
  background-color: #C2D7E0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 2, 1fr;
  row-gap: 20px;
  padding-bottom: 70px; }
  .mis-obras-grid img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    border-radius: 25px;
    transition: 0.5s; }
    .mis-obras-grid img:hover {
      transform: scale(1.1); }
  .mis-obras-grid h4 {
    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px; }

/* PROYECTO LETS GO */
.proyecto-letsgo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-bottom: 150px; }
  .proyecto-letsgo div .img-fluid {
    max-width: 60%; }
  .proyecto-letsgo div a {
    color: #FF9500;
    text-align: center;
    padding: 10px 0px 40px 0px;
    font-weight: 500;
    text-decoration: none;
    width: 60%;
    background-color: #FCFAFA; }
    .proyecto-letsgo div a:hover {
      color: #ffca80; }

/* PROYECTO CRUNCHYROLL*/
.proyecto-crunchy div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-bottom: 150px; }
  .proyecto-crunchy div .img-fluid {
    max-width: 60%; }
  .proyecto-crunchy div a {
    text-decoration: none;
    color: #F47521;
    background-color: #222429;
    padding: 10px 0px 40px 0px;
    width: 60%;
    text-align: center;
    font-weight: 500; }
    .proyecto-crunchy div a:hover {
      color: #ffa467; }

/*FOOTER */
footer {
  background-color: #F6F0F0;
  padding: 35px; }
  footer ul li {
    list-style: none; }
  footer ul li a {
    text-decoration: underline;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.5s linear; }
    footer ul li a:hover {
      font-size: 25px;
      color: #000000; }
  footer ul a img {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 0px 0px 10px 25px;
    transition: 0.5s; }
    footer ul a img:hover {
      transform: scale(1.5); }

/* HOME */
@media screen and (max-width: 1629px) {
  .presentacion .imagen-parrafo p {
    font-size: 30px;
    margin-right: 50px; } }

@media screen and (max-width: 1454px) {
  .presentacion div h2 {
    font-size: 40px; }
  .presentacion .imagen-parrafo p {
    font-size: 25px;
    margin-right: 30px; }
  .presentacion .imagen-parrafo img {
    width: 400px;
    height: 400px; }
  .mis-dibujos div h2 {
    font-size: 30px; }
  .mis-dibujos div h3 {
    font-size: 20px; }
  .mis-dibujos div a img {
    width: 300px;
    height: 300px; }
  .proyectos div h2 {
    font-size: 30px; }
  .proyectos div h3 {
    font-size: 20px; }
  .proyectos div a img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 1270px) {
  .presentacion .imagen-parrafo {
    flex-direction: column;
    align-items: center; }
    .presentacion .imagen-parrafo p {
      margin: 0px;
      text-align: left;
      margin-right: 300px;
      padding-left: 400px; }
    .presentacion .imagen-parrafo img {
      float: none;
      margin: 0px; } }

@media screen and (max-width: 1031px) {
  main {
    padding-top: 60px; }
  .container-fluid {
    font-size: 22px; }
  .navbar-nav li a {
    margin: 3px;
    padding: 5px; }
  .navbar-brand {
    font-size: 28px;
    font-weight: 700; }
  .presentacion .imagen-parrafo p {
    margin: 0px;
    text-align: left;
    margin-right: 100px;
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 10px; } }

@media screen and (max-width: 830px) {
  .presentacion div h2 {
    font-size: 28px; }
  .presentacion .imagen-parrafo p {
    margin: 0px;
    text-align: left;
    margin-right: 100px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 22px; }
  .presentacion .imagen-parrafo img {
    width: 300px;
    height: 300px; }
  .mis-dibujos div h2 {
    font-size: 25px; }
  .mis-dibujos div h3 {
    font-size: 20px; }
  .mis-dibujos div a img {
    width: 200px;
    height: 200px; }
  .proyectos div h2 {
    font-size: 25px; }
  .proyectos div h3 {
    font-size: 20px; }
  .proyectos div a img {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 620px) {
  .navbar-brand {
    font-size: 26px;
    font-weight: 600; }
  .container-fluid {
    font-size: 18px; }
  .navbar-nav li a {
    margin: 1px;
    padding: 2px; }
  .presentacion div h2 {
    font-size: 26px; }
  .presentacion .imagen-parrafo p {
    font-size: 20px;
    margin-right: 20px;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 10px; }
  .presentacion .imagen-parrafo img {
    width: 250px;
    height: 250px; }
  .mis-dibujos {
    margin-top: 60px; }
    .mis-dibujos div a img {
      width: 150px;
      height: 150px;
      border-radius: 30px; }
  .proyectos {
    margin-top: 60px; }
    .proyectos div a img {
      width: 150px;
      height: 150px;
      border-radius: 30px; }
  footer ul li a {
    font-size: 18px;
    font-weight: 400; }
  footer ul a img {
    width: 50px;
    height: 50px;
    margin: 10px; } }

@media screen and (max-width: 550px) {
  .navbar-brand {
    font-size: 24px;
    font-weight: 700; }
  .presentacion .imagen-parrafo p {
    font-size: 18px;
    margin-right: 5px;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 10px; }
  .presentacion div h2 {
    font-size: 22px;
    font-weight: 500; }
  .mis-dibujos div h2 {
    font-size: 22px; }
  .mis-dibujos div h3 {
    font-size: 18px; }
  .proyectos div h2 {
    font-size: 22px; }
  .proyectos div h3 {
    font-size: 18px; } }

@media screen and (max-width: 487px) {
  .navbar-brand {
    font-size: 22px;
    font-weight: 600; }
  .presentacion .imagen-parrafo p {
    font-size: 16px;
    padding-left: 50px;
    margin-left: 80px; }
  .presentacion .imagen-parrafo img {
    width: 200px;
    height: 200px; }
  .presentacion div h2 {
    font-size: 22px;
    padding: 30px; }
  .mis-dibujos {
    margin-top: 40px;
    flex-direction: column;
    align-items: center; }
    .mis-dibujos div h2 {
      font-size: 20px;
      text-align: center; }
    .mis-dibujos div h3 {
      font-size: 16px; }
    .mis-dibujos div a img {
      width: 100px;
      height: 100px;
      margin-top: 10px;
      margin-left: 0px; }
  .proyectos {
    margin-top: 40px;
    flex-direction: column;
    align-items: center; }
    .proyectos div h2 {
      font-size: 20px;
      text-align: center; }
    .proyectos div h3 {
      font-size: 16px; }
    .proyectos div a img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      margin-right: 0px; } }

@media screen and (max-width: 415px) {
  .presentacion div h2 {
    font-size: 20px; }
  .presentacion .imagen-parrafo p {
    margin-left: 100px;
    padding-left: 15px; }
  .mis-dibujos div h3 {
    margin: 0px;
    margin-bottom: 10px; }
  .proyectos div h2 {
    padding-top: 10px; } }

@media screen and (max-width: 404px) {
  .presentacion .imagen-parrafo p {
    font-size: 14px; }
  .mis-dibujos div h3 {
    text-align: center; } }

@media screen and (max-width: 386px) {
  .proyectos div h3 {
    text-align: center; } }

@media screen and (max-width: 364px) {
  .navbar-nav li a {
    margin: 1px;
    padding: 2px;
    font-size: 14px; }
  .presentacion .imagen-parrafo p {
    text-align: center; } }

/* PROYECTOS */
@media screen and (max-width: 1227px) {
  .proyectos-mios {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 964px) {
  .proyectos-mios a img {
    max-width: 500px;
    height: 500px;
    align-items: center; }
  .mis-proyectos div h2 {
    padding: 30px;
    font-size: 30px; } }

@media screen and (max-width: 640px) {
  .proyectos-mios a img {
    max-width: 400px;
    height: 400px;
    align-items: center;
    margin: 30px; }
  .mis-proyectos div h2 {
    padding: 25px;
    font-size: 26px; } }

@media screen and (max-width: 540px) {
  .proyectos-mios a img {
    max-width: 300px;
    height: 300px;
    align-items: center; }
  .mis-proyectos div h2 {
    padding: 22px;
    font-size: 20px; } }

@media screen and (max-width: 465px) {
  .proyectos-mios a img {
    max-width: 250px;
    height: 250px;
    align-items: center; } }

/* SOBRE MI */
@media screen and (max-width: 1460px) {
  .mis-datos img {
    height: 500px;
    width: 500px;
    padding: 60px;
    box-shadow: white 5px 5px 5px 5px;
    border-radius: 50px; }
  .mis-datos .fondo-blanco {
    background: #F6F0F0;
    border-radius: 30px;
    padding: 20px;
    width: 40%;
    height: 70%;
    margin-top: 30px; }
    .mis-datos .fondo-blanco p {
      font-size: 26px; }
    .mis-datos .fondo-blanco h3 {
      font-size: 26px; }
    .mis-datos .fondo-blanco div h4 {
      font-size: 24px; } }

@media screen and (max-width: 1161px) {
  .mis-datos {
    background-image: url(../img/ulip.png);
    flex-direction: column;
    align-items: center; }
    .mis-datos img {
      display: none; }
    .mis-datos .fondo-blanco {
      background: black;
      border-radius: 30px;
      padding: 20px;
      width: 70%;
      height: 70%; }
      .mis-datos .fondo-blanco p {
        color: white; }
      .mis-datos .fondo-blanco h3 {
        color: white; }
      .mis-datos .fondo-blanco a {
        color: white; }
      .mis-datos .fondo-blanco div h4 {
        color: white; } }

@media screen and (max-width: 825px) {
  .sobre-mi h2 {
    font-size: 30px; }
  .mis-datos .fondo-blanco {
    width: 90%;
    height: 70%; }
    .mis-datos .fondo-blanco p {
      font-size: 24px; }
    .mis-datos .fondo-blanco h3 {
      font-size: 24px; }
    .mis-datos .fondo-blanco a {
      font-size: 24px; }
    .mis-datos .fondo-blanco div h4 {
      font-size: 22px; } }

@media screen and (max-width: 665px) {
  .sobre-mi h2 {
    font-size: 26px; }
  .mis-datos .fondo-blanco p {
    font-size: 22px; }
  .mis-datos .fondo-blanco h3 {
    font-size: 22px; }
  .mis-datos .fondo-blanco a {
    font-size: 22px; }
  .mis-datos .fondo-blanco div h4 {
    font-size: 20px; } }

@media screen and (max-width: 525px) {
  .sobre-mi h2 {
    font-size: 22px; }
  .mis-datos .fondo-blanco {
    width: 95%;
    height: 70%; }
    .mis-datos .fondo-blanco p {
      font-size: 20px; }
    .mis-datos .fondo-blanco h3 {
      font-size: 20px; }
    .mis-datos .fondo-blanco a {
      font-size: 20px; }
    .mis-datos .fondo-blanco div h4 {
      font-size: 18px; } }

@media screen and (max-width: 450px) {
  .sobre-mi h2 {
    font-size: 20px; }
  .mis-datos .fondo-blanco p {
    text-align: center; }
  .mis-datos .fondo-blanco h3 {
    text-align: center; }
  .mis-datos .fondo-blanco a {
    text-align: center; }
  .mis-datos .fondo-blanco div h4 {
    text-align: center; } }

/* CONTACTAME */
@media screen and (max-width: 1030px) {
  .contactame .formulario {
    padding: 25px; }
    .contactame .formulario label {
      font-size: 24px; }
    .contactame .formulario div input {
      width: 400px;
      height: 30px; }
    .contactame .formulario textarea {
      width: 400px;
      height: 150px; } }

@media screen and (max-width: 830px) {
  .contactame-y-trabajemos {
    font-size: 28px; } }

@media screen and (max-width: 620px) {
  .contactame {
    margin-bottom: 70px; }
  .contactame-y-trabajemos {
    font-size: 26px; }
  .contactame .boton input {
    width: 100px;
    font-size: 16px;
    margin: 5px;
    padding: 5px; }
  .formulario {
    padding: 25px; }
    .formulario label {
      font-size: 20px; }
    .formulario div input {
      width: 300px;
      height: 25px;
      font-size: 18px;
      font-weight: 100; }
    .formulario textarea {
      width: 300px;
      height: 100px; } }

@media screen and (max-width: 550px) {
  .contactame-y-trabajemos {
    font-size: 22px;
    font-weight: 500;
    padding: 30px; }
  .contactame .formulario {
    padding: 25px; }
    .contactame .formulario label {
      font-size: 18px; }
    .contactame .formulario div input {
      width: 250px;
      height: 20px; }
    .contactame .formulario textarea {
      width: 250px;
      height: 80px; } }

@media screen and (max-width: 460px) {
  .contactame .boton input {
    font-size: 14px; } }

@media screen and (max-width: 370px) {
  .contactame-y-trabajemos {
    font-size: 20px; }
  .contactame .formulario {
    padding: 20px; }
    .contactame .formulario label {
      font-size: 18px; }
    .contactame .formulario div input {
      width: 200px;
      height: 20px; }
    .contactame .formulario textarea {
      width: 200px;
      height: 60px; } }

/* MI ARTE */
@media screen and (max-width: 1030px) {
  .mis-obras-grid img {
    width: 300px;
    height: 300px; }
  .mis-obras-grid h4 {
    font-size: 30px; } }

@media screen and (max-width: 830px) {
  .estas-son h2 {
    font-size: 28px; } }

@media screen and (max-width: 784px) {
  .mis-obras-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1, 1fr; } }

@media screen and (max-width: 620px) {
  .estas-son h2 {
    font-size: 26px; } }

@media screen and (max-width: 550px) {
  .estas-son h2 {
    font-size: 22px; }
  .mis-obras-grid img {
    width: 250px;
    height: 250px; }
  .mis-obras-grid h4 {
    font-size: 24px; } }

@media screen and (max-width: 370px) {
  .estas-son h2 {
    font-size: 20px; }
  .mis-obras-grid img {
    width: 200px;
    height: 200px; }
  .mis-obras-grid h4 {
    font-size: 20px; } }

/* PROYECTO CRUNCHYROLL*/
@media screen and (max-width: 1279px) {
  .proyecto-crunchy a h2 {
    font-size: 28px; } }

@media screen and (max-width: 1010px) {
  .proyecto-crunchy a h2 {
    font-size: 24px; } }

@media screen and (max-width: 815px) {
  .proyecto-crunchy a h2 {
    font-size: 22px; } }

@media screen and (max-width: 750px) {
  .proyecto-crunchy a h2 {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .proyecto-crunchy a h2 {
    font-size: 16px; } }

@media screen and (max-width: 410px) {
  .proyecto-crunchy a h2 {
    font-size: 14px; } }

/* PROYECTO LETSGO*/
@media screen and (max-width: 1279px) {
  .proyecto-letsgo a h2 {
    font-size: 28px; } }

@media screen and (max-width: 1010px) {
  .proyecto-letsgo a h2 {
    font-size: 24px; } }

@media screen and (max-width: 815px) {
  .proyecto-letsgo a h2 {
    font-size: 22px; } }

@media screen and (max-width: 750px) {
  .proyecto-letsgo a h2 {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .proyecto-letsgo a h2 {
    font-size: 16px; } }

@media screen and (max-width: 410px) {
  .proyecto-letsgo a h2 {
    font-size: 14px; } }
