/*FOOTER */
footer {
    background-color: $color-secundario;
    padding: 35px;
    @extend %flex-center;

    ul li {
        list-style: none;
    }

    ul li a {
        text-decoration: underline;
        color: $color-principal;
        font-size: 24px;
        font-weight: 600;
        transition: all 0.5s linear;

        &:hover {
            font-size: 25px;
            color: $color-principal;
        }
    }

    ul a img {
        width: 70px;
        height: 70px;
        padding: 10px;
        margin: 0px 0px 10px 25px;
        transition: 0.5s;
        &:hover {
            transform: scale(1.5);
        }
    }
}
