/* HOME */

/* HOME: presentación */

.presentacion {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: $color-principal;
    padding-bottom: 30px;

    div h2 {
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        padding: 50px;
    }

    .imagen-parrafo {
        @extend %flex-center;

        img {
            width: 500px;
            height: 500px;
            float: left;
            margin-bottom: 40px;
            margin-left: 350px;
            box-shadow: white 2px 2px 2px 2px;
            border-radius: 50px;
        }

        p {
            color: white;
            font-size: 35px;
            font-weight: 300;
            padding: 100px;
            margin-right: 300px;
            margin-top: 30px;
        }
    }
}

/* HOME: Mis dibujos */

.mis-dibujos {
    padding: 80px;
    background-color: $color-principal;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        h2 {
            color: white;
            font-size: 40px;
            font-weight: 600;
            margin-right: 10px;
        }

        h3 {
            color: white;
            font-size: 30px;
            font-weight: 400;
            text-align: left;
            margin-right: 10px;
        }

        a img {
            width: 400px;
            height: 400px;
            margin-left: 20px;
            box-shadow: white 2px 2px 2px 2px;
            border-radius: 50px;
            transition: all 0.5s;

            &:hover {
                box-shadow: $color-terciario 10px 10px 10px 10px;
                border-radius: 50px;
                transform: scale(1.1);
            }
        }
    }
}

/* HOME: Proyectos */

.proyectos {
    background-color: $color-principal;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;

    div a img {
        width: 400;
        height: 400px;
        margin-right: 20px;
        box-shadow: white 2px 2px 2px 2px;
        border-radius: 50px;
        transition: 0.5s;

        &:hover {
            box-shadow: $color-terciario -15px 5px 10px 10px;
            border-radius: 50px;
            transform: scale(1.1);
        }
    }

    div h2 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        margin-left: 10px;
    }

    div h3 {
        color: white;
        font-size: 30px;
        font-weight: 400;
        margin-left: 10px;
    }
}

/* PROYECTOS */

.mis-proyectos div {
    background-color: $color-principal;

    h2 {
        @include enunciados (40px, 600px, 40px, $color-secundario, center, $color-principal)
    }
}

.proyectos-mios {
    display: flex;
    justify-content: center;

    a {
        margin: 60px;
        background-color: $color-secundario;
        border-radius: 40px;
        transition: 0.5s;

        &:hover {
            background-color: $color-terciario;
            width: 500px;
            border: 5px solid;
            border-color: $color-secundario;
            transform: scale(1.1);
        }
    }
}

/* SOBRE MI */

.sobre-mi h2 {
    @include enunciados (40px, 600px, 40px, $color-secundario, center, $color-principal)
}

.mis-datos {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    background-color: $color-principal;

    img {
        height: 600px;
        width: 600px;
        padding: 60px;
        box-shadow: white 5px 5px 5px 5px;
        border-radius: 50px;
    }

    .fondo-blanco {
        background: $color-secundario;
        border-radius: 20px;
        padding: 40px;
        width: 40%;
        height: 70%;
        margin-top: 50px;

        p {
            font-size: 30px;
            font-weight: 500;
            color: $color-principal;
            padding-bottom: 20px;
        }

        h3 {
            font-size: 30px;
            color: $color-principal;
            text-decoration: underline;
            font-weight: 300;
            padding-bottom: 20px;
        }

        div h4 {
            color: $color-principal;
            font-size: 28px;
            font-weight: 100;
            line-height: 1.5;
        }
    }
}

/* CONTACTAME */

.contactame-y-trabajemos {
    @include enunciados (40px, 600px, 40px, $color-secundario, center, $color-principal)
}

.contactame {
    padding: 30px;
    background-color: $color-principal;
    display: flex;
    justify-content: center;

    .formulario {
        background-color: $color-secundario;
        display: inline-block;
        padding: 50px;
        border-radius: 20px;

        label {
            font-size: 26px;
            font-weight: 400px;
            text-align: left;
        }

        textarea {
            border-radius: 20px;
            width: 600px;
            height: 200px;
            border-color: $color-terciario;
            background-color: $color-terciario;
            font-size: 22px;
            font-weight: 200;
            padding: 10px;
        }

        div input {
            border-radius: 20px;
            width: 600px;
            height: 40px;
            border-color: $color-terciario;
            background-color: $color-terciario;
            font-size: 22px;
            font-weight: 200;
            padding: 10px;
        }
    }

    .boton {
        display: flex;
        justify-content: center;

        input {
            border-radius: 20px;
            padding: 10px;
            background-color: $color-secundario;
            border-color: $color-secundario;
            font-size: 20px;
            color: $color-principal;
            width: 150px;
            margin: 10px;
            transition: all 1s;

            &:hover {
                background-color: $color-de-acento;
                border-color: $color-de-acento;
                color: $color-principal;
                font-weight: 700;
            }
        }
    }
}


/* MI ARTE */

.estas-son h2 {
    @include enunciados (40px, 600px, 40px, $color-secundario, center, $color-principal)
}

.mis-obras-grid {
    width: 100%;
    height: auto;
    background-color: #C2D7E0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (2, 1fr);
    row-gap: 20px;
    padding-bottom: 70px;

    img {
        width: 400px;
        height: 400px;
        margin-top: 50px;
        border-radius: 25px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    h4 {
        font-size: 40px;
        color: white;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.842);
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
    }
}

/* PROYECTO LETS GO */

.proyecto-letsgo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 150px;

    .img-fluid {
        max-width: 60%;
    }

    a {
        color: #FF9500;
        text-align: center;
        padding: 10px 0px 40px 0px;
        font-weight: 500;
        text-decoration: none;
        width: 60%;
        background-color: #FCFAFA;

        &:hover {
            color: #ffca80;
        }
    }
}

/* PROYECTO CRUNCHYROLL*/

.proyecto-crunchy div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 150px;

    .img-fluid {
        max-width: 60%;
    }

    a {
        text-decoration: none;
        color: #F47521;
        background-color: #222429;
        padding: 10px 0px 40px 0px;
        width: 60%;
        text-align: center;
        font-weight: 500;

        &:hover {
            color: #ffa467;
        }
    }
}