/* HOME */

/* HOME: presentación */

.presentacion {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: black;
    padding-bottom: 30px;

    div h2 {
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        padding: 50px;
    }

    .imagen-parrafo {
        display: flex;
        justify-content: center;

        img {
            width: 500px;
            height: 500px;
            float: left;
            margin-bottom: 40px;
            margin-left: 350px;
            box-shadow: white 2px 2px 2px 2px;
            border-radius: 50px;
        }

        p {
            color: white;
            font-size: 35px;
            font-weight: 300;
            padding: 100px;
            margin-right: 300px;
            margin-top: 30px;
        }
    }
}

/* HOME: Mis dibujos */

.mis-dibujos {
    padding: 80px;
    background-color: black;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        h2 {
            color: white;
            font-size: 40px;
            font-weight: 600;
            margin-right: 10px;
        }

        h3 {
            color: white;
            font-size: 30px;
            font-weight: 400;
            text-align: left;
            margin-right: 10px;
        }

        a img {
            width: 400px;
            height: 400px;
            margin-left: 20px;
            box-shadow: white 2px 2px 2px 2px;
            border-radius: 50px;

            &:hover {
                box-shadow: #EBD3FF 10px 10px 10px 10px;
                border-radius: 50px;
            }
        }
    }
}

/* HOME: Proyectos */

.proyectos {
    background-color: black;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;

    div a img {
        width: 400;
        height: 400px;
        margin-right: 20px;
        box-shadow: white 2px 2px 2px 2px;
        border-radius: 50px;

        &:hover {
            box-shadow: #EBD3FF -15px 5px 10px 10px;
            border-radius: 50px;
        }
    }

    div h2 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        margin-left: 10px;
    }

    div h3 {
        color: white;
        font-size: 30px;
        font-weight: 400;
        margin-left: 10px;
    }
}

/* PROYECTOS */

.mis-proyectos div {
    background-color: black;

    h2 {
        text-align: center;
        padding: 40px;
        font-size: 40px;
        font-weight: 500px;
        color: black;
        background-color: #F6F0F0;
    }
}

.proyectos-mios {
    display: flex;
    justify-content: center;

    a {
        margin: 60px;
        background-color: #F6F0F0;
        border-radius: 40px;

        &:hover {
            background-color: #EBD3FF;
            width: 500px;
            border: 5px solid;
            border-color: #F6F0F0;
        }
    }
}

/* SOBRE MI */

.sobre-mi h2 {
    font-size: 40px;
    font-weight: 600px;
    padding: 40px;
    background-color: #F6F0F0;
    text-align: center;
}

.mis-datos {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    background-color: black;

    img {
        height: 600px;
        width: 600px;
        padding: 60px;
        box-shadow: white 5px 5px 5px 5px;
        border-radius: 50px;
    }

    .fondo-blanco {
        background: #F6F0F0;
        border-radius: 20px;
        padding: 40px;
        width: 40%;
        height: 70%;
        margin-top: 50px;

        p {
            font-size: 30px;
            font-weight: 500;
            color: black;
            padding-bottom: 20px;
        }

        h3 {
            font-size: 30px;
            color: black;
            text-decoration: underline;
            font-weight: 300;
            padding-bottom: 20px;
        }

        div h4 {
            color: black;
            font-size: 28px;
            font-weight: 100;
            line-height: 1.5;
        }
    }
}

/* CONTACTAME */

.contactame-y-trabajemos {
    font-size: 40px;
    font-weight: 500px;
    padding: 40px;
    background-color: #F6F0F0;
    text-align: center;
}

.contactame {
    padding: 30px;
    background-color: black;
    display: flex;
    justify-content: center;

    .formulario {
        background-color: #F6F0F0;
        display: inline-block;
        padding: 50px;
        border-radius: 20px;

        label {
            font-size: 26px;
            font-weight: 400px;
            text-align: left;
        }

        textarea {
            border-radius: 20px;
            width: 600px;
            height: 200px;
            border-color: #EBD3FF;
            background-color: #EBD3FF;
            font-size: 22px;
            font-weight: 200;
            padding: 10px;
        }

        div input {
            border-radius: 20px;
            width: 600px;
            height: 40px;
            border-color: #EBD3FF;
            background-color: #EBD3FF;
            font-size: 22px;
            font-weight: 200;
            padding: 10px;
        }
    }

    .boton {
        display: flex;
        justify-content: center;

        input {
            border-radius: 20px;
            padding: 10px;
            background-color: #F6F0F0;
            border-color: #F6F0F0;
            font-size: 20px;
            color: black;
            width: 150px;
            margin: 10px;

            &:hover {
                background-color: #ac46ff;
                border-color: #ac46ff;
                color: black;
                font-weight: 700;
            }
        }
    }
}


/* MI ARTE */

.estas-son h2 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 500px;
    color: black;
    background-color: #F6F0F0;
}

.mis-obras-grid {
    width: 100%;
    height: auto;
    background-color:#C2D7E0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (2, 1fr);
    row-gap: 20px;
    padding-bottom: 70px;

    img {
        width: 400px;
        height: 400px;
        margin-top: 50px;
        border-radius: 25px;
    }

    h4 {
        font-size: 40px;
        color: white;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.842);
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
    }
}

/* PROYECTO LETS GO */

.proyecto-letsgo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 150px;

    .img-fluid {
        max-width: 60%;
    }

    a {
        color: #FF9500;
        text-align: center;
        padding: 10px 0px 40px 0px;
        font-weight: 500;
        text-decoration: none;
        width: 60%;
        background-color: #FCFAFA;

        &:hover {
            color: #ffca80;
        }
    }
}

/* PROYECTO CRUNCHYROLL*/

.proyecto-crunchy div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 150px;

    .img-fluid {
        max-width: 60%;
    }

    a {
        text-decoration: none;
        color: #F47521;
        background-color: #222429;
        padding: 10px 0px 40px 0px;
        width: 60%;
        text-align: center;
        font-weight: 500;

        &:hover {
            color: #ffa467;
        }
    }
}