* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

main {
    padding-top: 130px;
}

//! VARIABLES 

$color-principal: #000000;
$color-secundario: #F6F0F0;
$color-terciario: #EBD3FF;
$color-de-acento: #ac46ff;

//! EXTENDS

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//! MIXINS

@mixin enunciados ($size, $peso, $padding, $bg-color, $center, $color) {
    font-size: $size;
    font-weight: $peso;
    padding: $padding;
    background-color: $bg-color;
    text-align: $center;
    color: $color;
}


/* NAV */

.navbar-brand {
    font-family: serif;
    font-size: 40px;
    font-weight: 900;
    color: white;
    transition: all 0.8s ease-in;

    &:hover {
        color: #EBD3FF;
        font-weight: 1200;
    }

}

.container-fluid {
    font-family: serif;
    font-size: 26px;
    font-weight: 400px;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav li a {
    color: white;
    margin: 30px;
    transition: all 0.8s ;

    &:hover {
        color: $color-terciario;
        text-decoration:underline $color-terciario;
        transform: scale(1.1);
    }
}


.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}